<!doctype html>
<html>
    <head>
        <title>Comprar refeição</title>
        <meta charset="utf-8">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='img/favicon.ico') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel= "stylesheet" type="text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    </head>
    <body>
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-10">
                        <div class="wrap d-md-flex">
                            <div class="w-100 login-wrap p-4 p-md-5">
                                <div class="d-flex">
                                    <div class="w-100">
                                        <h3 class="mb-4">Comprar refeição</h3>
                                    </div>
                                    <div class="w-100">
                                        <p class="social-media d-flex justify-content-end">
                                            <img class="rounded-circle shadow-4-strong" width="40px" src="{{url_for('static', filename='img/upt-logo.png')}}">
                                        </p>
                                    </div>
                                </div>
                                <form action="/checkout" method="post" class="signin-form">
                                    <div class="form-group mb-3">
                                        <label class="label">Dia</label>
                                        <select class="form-control" id="selectdia" name="selectdia">
                                            <option>--Escolha o dia da semana--</option>
                                            <option value="2">2ª</option>
                                            <option value="3">3ª</option>
                                            <option value="4">4ª</option>
                                            <option value="5">5ª</option>
                                            <option value="6">6ª</option>
                                        </select>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="label">Sopa</label>
                                        <select class="form-control" id="selectsopa" name="selectsopa">
                                            <option>--Escolha a sopa--</option>
                                            <option value="1">Sim</option>
                                            <option value="0">Não</option>
                                        </select>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="label">Prato</label>
                                        <select class="form-control" id="selectprato" name="selectprato">
                                            <option>--Escolha o prato--</option>
                                            <option value="1">Carne</option>
                                            <option value="2">Peixe</option>
                                            <option value="3">Vegetariano</option>
                                        </select>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="label">Bebida</label>
                                        <select class="form-control" id="selectbebida" name="selectbebida">
                                            <option>--Escolha a bebida--</option>
                                            <option value="0">Não</option>
                                            <option value="1">Sumo diluído</option>
                                            <option value="2">Refrigerante</option>
                                        </select>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="label">Sobremesa</label>
                                        <select class="form-control" id="selectsobremesa" name="selectsobremesa">
                                            <option>--Escolha a sobremesa--</option>
                                            <option value="1">Sim</option>
                                            <option value="0">Não</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="form-control btn btn-primary rounded submit px-3">Comprar</button>
                                    </div>
                                </form>
                                <a href="{{ url_for('home') }}">Voltar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>