<!doctype html>
<html>
    <head>
        <title>Página Inicial</title>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='img/favicon.ico') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel= "stylesheet" type="text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    </head>
    <body>
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-10">
                        <div class="wrap d-md-flex">
                            <div class="w-100 login-wrap p-4 p-md-5">
                                <div class="d-flex">
                                    <div class="w-100">
                                        <h3 class="mb-4">Página Inicial</h3>
                                        <p>Seja bem-vindo ao Sistema de Informação da Universidade Portucalense. Selecione a operação que pretende realizar.</p>
                                    </div>
                                    <div class="w-100">
                                        <p class="social-media d-flex justify-content-end">
                                            <img class="rounded-circle shadow-4-strong" width="40px" src="{{url_for('static', filename='img/upt-logo.png')}}">
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <a href="/ementa" class="form-control btn btn-primary rounded submit px-3">Consultar Ementa</a>
                                </div>
                                <div class="form-group">
                                    <a href="/novaementa" class="form-control btn btn-primary rounded submit px-3">Nova Ementa</a>
                                </div>
                                <div class="form-group">
                                    <a href="/novoproduto" class="form-control btn btn-primary rounded submit px-3">Novo Produto</a>
                                </div>
                                <div class="form-group">
                                    <a href="/logout" class="form-control btn btn-primary rounded submit px-3">Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>